* {
  padding: 0;
  margin: 0;
}

.todo {
  display: flex;
  flex-wrap: wrap;
}

.todoItem {
  flex-basis: 32%;
  border: 1px solid grey;
  padding: 10px;
  margin: 3px;
}

@media only screen and (max-width: 450px) {
  .todoItem {
    flex-basis: 99%;
  }
}
